:host {
  font-size: 14px;
  color: #333;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 99;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #8e949c;
  font-weight: 600;
  // box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;

  .logo {
    margin: 0 16px;
    width: 40px;
    height: 40px;
    background: #82cf8f;

    &:before {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 25px;
      width: 22px;
      height: 22px;
      background: #FDC18D;
      border: 8px solid #ffffff;
    }
  }
}

.content {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #F9F9F9;
}

a {
  text-decoration: none;
  color: #8e949c;
}

.is-active {
  color: #82cf8f;
}

ul {
  list-style-type: none;
  margin: 0 2rem;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 1rem;
    transition: 0.3s all;
    padding: 0.5rem 0;
    cursor: pointer;

    &:hover {
      text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
    }
  }
}
