<div class="toolbar" role="banner">
  <div class="logo"></div>
  <span>Assignment | Ashish Kumar</span>
  <div class="spacer"></div>
  <ul>
    <li><a routerLink="/banner" routerLinkActive="is-active">Banner</a></li>
    <li><a routerLink="/products-list" routerLinkActive="is-active">Products List</a></li>
    <li><a routerLink="/timer-using-decorators" routerLinkActive="is-active">Timer (Decorators)</a></li>
    <li><a routerLink="/timer-using-services" routerLinkActive="is-active">Timer (Services)</a></li>
    <li><a routerLink="/students-table" routerLinkActive="is-active">Students Table</a></li>
    <li><a routerLink="/dynamic-divs" routerLinkActive="is-active">Dynamic Divs</a></li>
  </ul>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
